body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C599B6;
    color: #E6B2BA;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #E6B2BA;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 40px;
}

#malla-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px;
    justify-items: center;
}

.semestre {
    width: 100%;
    max-width: 300px;
    background-color: #FFCCEA;
    border: 2px solid #F0C1E1;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.semestre h2 {
    color: #E6B2BA;
    text-align: center;
    margin-top: 0;
    font-size: 1.2em;
}

.materia {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #E1AFD1;
    background-color: #FFCEFE;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.materia:hover {
    background-color: #FFCEFE;
}

.materia.bloqueada {
    background-color: #CB80AB;
    color: #E8A0BF;
    pointer-events: none;
}

.materia.aprobada {
    background-color: #EA8FEA; /* morado pastel */
    color: #D77FA1;
    text-decoration: line-through;
}
